#head{
	height: 40px;
	width:100%;
	background-image: url('images/mi1.jpg');
	background-size:100% 100%;
	padding-top: 10px
}

.title{
	float: right;
}
.title a{
	text-decoration: none;
	color:white;
}

#center div{
	float: left;
}

.pic{
	margin-left: 70px;
}

#bottom{
	padding-top: 50px;
	text-align: center;
}
#bottom a{
	color: black;
	text-decoration: none;
}
hr{
	width: 1000px;
}
p{
	font-size: 8px;
}