*{
	font-size : 12px ;
	color : #522a06;
	padding : 0 ;
	font-family : "ו" ;
}
img{
	border : 0;
}
li{
	list-style-type:none;

}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:link{
	color :#522a06;
}
body{
	background-image:  url('images/bodybg.gif');
	background-repeat: repeat;
}
#header{
	background-image : url('images/bg.gif');
	height:205px;
	background-repeat: repeat;
	background-position: center top;
}
#Banner{
	height:164px;
	width:1000px;
}
#Banner img{
	position : relative;
	left:25px;
	top:38px;
}
#nav{
	height:40px;
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#fff;
	background-image:url('images/nav.jpg');
	text-align:center;
	
}
#nav a{
	color:#fff;
	font-size:12px;
	line-height: 40px;
	
}
#nav a:hover{
	color:#f9f603;
	text-decoration:none;
}
.text{
	width:140px;
	height:19px;
}
.button{
	width:44px;
	height:21px;
	background-color:black;
	color:#fff;
	border:1px solid #f8f5ee;
}
#footer{
	height: 105px;
	clear:both;
	background-image: url('images/foot.gif');
	background-size: 100% 100%;
	width:100%;
	padding-top: 20px;
	text-align: center;
}
#left{
	width:200px;
	height:auto;
	text-align: center;
	float:left;
	margin-top: 20px;
}

.dongtai{
	width:200px;
	height:auto;
	border:1px #DEB887 solid;
	padding-bottom: 20px;
	margin-top: 20px;
}
.one:hover{
	background-image:url('images/menubg.gif');
	color:red;
	background-size:100% 100%;
}
.one{
	text-align: center;
	width:150px;
	height:16px;
	padding-left: 20px;
}
.one a{
	text-decoration:none; 
}
#updata {
	
	line-height: 20px;
	width:200px;
	height:auto;
	border:1px #DEB887 solid;
	padding-bottom: 20px;
	margin-top: 20px;
}
#phone{
	width:200px;
	height:64px;
	background-image: url('images/tel.gif');
	background-size: 100% 100%;
	margin-top: 20px;
	border:1px #DEB887 solid;
}
#right{
	float:left;
	padding-left: 20px;
	width:760px;
	margin-top: 20px;
}
.zs{
	background-image: url('images/listtitle.png');
	background-size: 100% 100%;
	width:760px;
	height:46px;
	color:#b5554c;
	font-size: 25px;
	padding-top: 10px;
}
.lb{
	
	padding-left:20px;


}
.lb li{
	list-style-type: disc;
	line-height: 30px;
	font-size: 18px;
}
#nr{
	margin-left:250px;
}
#ys div{
	width:40px;
	height:30px;
	border:1px #DEB887 solid;
	font-size: 18px;
	text-align:center;
	float:left;
	margin-left:20px;
}
